body{
	padding: 0;
	margin: 0; 
	box-sizing: border-box;
	font-family: sans-serif;
	background-color: #f2f2f2;
}
header,section{
	overflow: hidden;

}
html{
	scroll-behavior: smooth;
}

/*--------------------LOGO--------------------------------*/
.logo{
	position: absolute;
	top: 20px;
	left: 20px;
	color: #fff;
	z-index: 8;
}
/*--------------------END OF LOGO--------------------------------*/
/*--------------------BANNER-------------------------------------*/
.banner{
	position: absolute;
	top: 40%;
	left: 50%;
	text-transform: uppercase;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.5);
	padding: 1rem;
	z-index: 1;
	text-align: center;
	color: white;
}
/*--------------------END OF BANNER-------------------------------------*/
/*-------------------------NAV BAR------------------------------*/
.toggle{
	position: fixed;
	top: 20px;
	right: 20px;
	min-width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.8);
	cursor:pointer;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.5s;
	z-index: 10;
	border: 1px solid rgba(255,215,0,0.8);
	padding: 0 20px;
	transition: 1s;
}
.toggle:before{
	content: 'Menu';
	color: #f2f2f2;
	line-height: 40px;
	transition: 1s;
}
.toggle.active:before{
	content: 'Close';
	color: rgba(255,215,0,0.8);
	line-height: 40px;
	transition: 1s;
}
.sidebar{
	position: fixed;
	top: 0;
	right: -100%;
	width: 50%;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	transform: skewX(7deg);
	padding-right: 100px; 
	padding-left: 50px; 
	z-index: 8;
}
.sidebar.active{
	right: -5%;
}
.sidebar ul{
	position: relative;
	transform: skewX(-7deg);
}
.sidebar ul li{
	list-style: none;
	text-align: center;
}
.nav-logo{
	font-size: 2rem;
}
.sidebar ul li a{
	display: block;
	padding: 5px;
	text-transform: uppercase;
	color: #fff;
	font-size: 2em;
	letter-spacing: 1px;
	font-weight: bold;
	transition: 0.5s;
}
.sidebar ul li a.active{
	color: black
}
.sidebar ul li a:hover{
	text-decoration: none;
	color: #ffeb3b;
	border-top: 2px solid goldenrod;
	border-bottom: 2px solid goldenrod;
}
.sidebar ul li a:before{
	content: attr(data-text);
	position: absolute;
	top: 20%;
	left: 50%;
	transition: 0.5s;
	transform: translate(-50%,-50%);
	font-size: 2.5em;
	opacity: 0;
	pointer-events: none;
	z-index: -1;
	font-family: initial;
}
.sidebar ul li a:hover:before{
	opacity: .2;
	top: 50%;
}
/*------------------END OF NAV BAR------------------------------*/

/*------------------SHOWCASE------------------------------------*/
.showcase1 img,
.showcase2 img,
.showcase3 img{
	height: 100vh;
	width: 100%;
	filter: contrast(40%);
	
}
.showcase1 img,
.showcase3 img{
	object-fit: cover;
	object-position: bottom;
}
.showcase .owl-controls {
	position: relative;
	top: -10%;
}
.showcase{
	height: 100vh;
	position: relative;
	overflow: hidden;
	/*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url(../images/bg1.jpg);*/
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}
.showcase:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	top: 100%;
	left: -50%;
	transform-origin: right;
	transform: skewY(8deg);
	box-shadow: 0 0 100px black;
	overflow: hidden;
	z-index: 1;
}
.showcase:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	top: 100%;
	right: -50%;
	transform-origin: left;
	transform: skewY(-8deg);
	box-shadow: 0 0 100px black;

}

/*------------------END OF SHOWCASE------------------------------------*/

/*-----------------------Service--------------------------------------*/
.title-service{
	text-align: center;
	margin-top: 5%;
}
.title-service-h3{
	padding-left: 15rem;
	padding-right: 15rem;
	display: inline-block;
	/*border-bottom: 4px solid gold;*/
	margin-bottom: 15px;
	background-image: url(../images/bgtitle.png);
	background-position: center;
	/*background-size: cover;*/
}
.service{
	height: 400px;
	width: 30%;
	background-color: lightgrey ;
	display: inline-block;
	margin-left: 2%;
	padding: 2rem;
	border-radius: 5px;
	text-align: center;
	transition: 0.3s;
	box-shadow: 0 2px 5px black;
}
.service:hover{
	background-color:grey;
	transition: 0.3s;
	box-shadow: 0 2px 15px black;
}
.service-image{
	position: relative;
	top: -40%;
}
.service:hover .service-image img{
	/*border:10px solid grey;*/
	transition: 0.5s;
	box-shadow: 0 0 5px black;
}
.service-image img{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border:10px solid #f2f2f2;
	transition: 0.5s;

}
.featured-services{
	margin-top: 10%;
	margin-left: 3%;
}
.service-content{
	position: relative;
	top: -35%;
	color: #000;
}
/*-----------------------END OF Service--------------------------------------*/
/*---------------------ABOUT US----------------------------------------------*/
.aboutus{
	height: 550px;
	position: relative;
	overflow: hidden;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url(../images/show10.png);
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;

}
.aboutus div{
	display: inline-block;
}
.aboutus:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	bottom: 100%;
	left: 0;
	transform-origin: left;
	transform: skewY(3deg);
	box-shadow: 0 0 100px black;
}
.aboutus:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	top: 100%;
	left: 0;
	transform-origin: left;
	transform: skewY(-3deg);
	box-shadow: 0 0 100px black;
}
.aboutus-fsrj{
	width: 50%;
	padding-right: 1rem; 
	margin-top: 50px;
}
.ab-h2{
	background-image: url(../images/bgtitle.png);
	/*background-position: center;*/
	/*background-size: cover;*/
	padding-right: 100px;
}
.aboutus-fsrj p {
	font-size: 1.5rem;
}
.aboutus-fsrj ul{
	font-size: 1.5rem;
	list-style: none;
}
/*.vision-mission{
	width: 45%;
	margin-top: 70px;
	margin-bottom: 70px;
	color: #fff;
}
.vision h3, .mission h3{
	border-bottom: 2px solid gold;
}
.mission{
	text-align: right;
	margin-top: 50px;
}*/
.aboutus-sidepic{
	width: 50%;
	height: auto;
	position: absolute;
	top: 0%;
	right: 1%;
	border: 10px solid #f2f2f2;
}
.aboutus-sidepic img{
	height: 100%;
	width: 100%;
	/*border-radius: 5px;*/
	box-shadow: 0 0 10px black;
	object-position: top;

}
.aboutus-sub-sidepic{
	width: 30%;
	height: 250px;
	position: absolute;
	bottom: 0%;
	right: 5%;
	z-index: 1;
	border: 10px solid #f2f2f2;
}
.aboutus-sub-sidepic img{
	height: 100%;
	width: 100%;
	box-shadow: 0 0 10px black;
}

/*---------------------ABOUT US----------------------------------------------*/
/*----------------------OUR TEAM-------------------------------------------*/
.ourteam{
	height: auto;
	position: relative;
	overflow: hidden;
	background-color: #f2f2f2;
}
.box{
	text-align: center;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 10px black;
}
.box img{
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: top;
	transform: scale(1.6);
	transition: all 0.3s ease 0s;
}
.box:hover img{
	filter: grayscale(100%);
	transform: scale(1.2);
}
.box .box-content{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 2;
	transition: all 0.2s ease 0s;
}
.box:before,
.box:after,
.box .box-content:before,
.box .box-content:after
{
	content:'';
	width: 100%;
	height: 25%;
	background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.7), transparent, rgba(0,0,0,0.7), rgba(0,0,0,0.9)) ;
	z-index: 1;
	position: absolute;
	top: 0;
	transition:  all 0.3s ease 0s;
}
.box:before{
	left:100%;
}
.box:after{
	top: 25%;
	right: 100%;
	transition-delay: 0.05s; 
}
.box .box-content:before{
	top: 50%;
	left: 100%;
	transition-delay: 0.1s;
}
.box .box-content:after{
	top: 75%;
	right: 100%;
	transition-delay: 0.15s;
}
.box:hover:before,
.box:hover .box-content:before{
	left: 0%;
}
.box:hover:after,
.box:hover .box-content:after{
	right: 0%;
}
.box .inner-content{
	padding: 7px 0;
	text-align: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 2;
	transition: all 0.3s ease 0s;
}
.box .title{
	font-size: 22px;
	font-weight: 700;
	color: #faac01;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin:0 0 3px 0;
	opacity: 0;
	transform: translateY(150px);
	transition: all 0.5s ease 0s; 
}

.box .post{
	display: inline-block;
	padding: 0 5px;
	font-size: 16px;
	font-style: italic;
	color: white;
	opacity: 0;
	transform: translateY(50px);
	transition: all 0.4s ease 0s; 
}
.box:hover .title,
.box:hover .post{
	opacity: 1;
	transform: translate(0,0);
}
.box .icon{
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	top: -200px;
	left: 10px;
	z-index: 2;
	transition: all 0.4s ease 0.2s;
}
.box:hover .icon{
	top: 15px;
}
.box .icon li a{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #faac01;
	font-size: 20px;
	color: white;
	margin-bottom: 10px;
	position: relative;
	transition: all 0.3s ease 0.2s;
}
.box .icon li a:hover{
	text-decoration: none;
	border-radius: 30px;
	background-color: #f2f2f2;
	color: #faac01;
}
/*----------------------END OF OUR TEAM-------------------------------------------*/

/*----------------------TESTIMONIALS---------------------------------------------*/
.testimonials{
	height: auto;
	position: relative;
	overflow: hidden;
	background-image: linear-gradient(to left , rgba(0,0,0,0.5),rgba(0,0,0,0.9)), url(../images/show1.png);
	/*background-image: url(../images/bg2.jpg);*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top:2rem;
	padding-bottom: 5rem;

}
.testimonials:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	bottom: 100%;
	left: 0;
	transform-origin: right;
	transform: skewY(-3deg);
	box-shadow: 0 0 100px black;
}
.testimonials:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	top: 100%;
	left: 0;
	transform-origin: right;
	transform: skewY(3deg);
	box-shadow: 0 0 100px black;
}
.testimonial{
	background-color: #f2f2f2;
	padding: 30px 30px 50px;
	margin: 0 15px 100px;
	position: relative;
	margin-top: 50px;
}
.testimonial:before,
.testimonial:after{
	content: "";
	border-top: 40px solid #f2f2f2;
	border-right: 125px solid transparent;
	position: absolute;
	bottom: -40px;
	left: 0;
}
.testimonial:after{
	border-right:none;
	border-left: 125px solid transparent;
	left: auto;
	right: 0;
}
.testimonial .icon1{
	/*display: inline-block;*/
	position: absolute;
	top: -3%;
	left: -2%;
	font-size: 50px;
	color: gold;
	/*margin-bottom: 20px;*/
	opacity: 0.6;
}
.testimonial .icon2{
	position: absolute;
	right: -2%;
	bottom: 17%;
	font-size: 50px;
	color: gold;
	opacity: 0.6;
}
.testimonial .testimonial-description{
	font-size: 16px;
	color: #777;
	text-align: center;
	margin-bottom: 30px;
	opacity: 0.9;
	letter-spacing: -1px;
}
.testimonial .testimonial-content{
	width: 100%;
	position: absolute;
	left: 0;
}
.testimonial .testimonial-pic{
	display: inline-block;
	border: 6px solid #f2f2f2;
	border-radius: 50%;
	box-shadow: 0 0 6px 2px rgba(255,215,0, 0.6);
	overflow: hidden;
	z-index: 1;
	position: relative;
}
.testimonial .testimonial-pic img{
	width: 100px;
	height: 100px;
	object-position: center;
	object-fit: cover;
}
.testimonials .testimonial-name{
	color: #f2f2f2;
}
/*----------------------END OF TESTIMONIALS---------------------------------------------*/
/*---------------------GALLERY--------------------------------------------*/
.gallery{
	height: auto;
}
.gallery-body img{
	height: 100%;
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 0 0 5px grey;
	transition: .5s;
}
.gallery-body img:hover{
	box-shadow: 0 0 15px black;
	transition: .5s;
}
/*---------------------END OF GALLERY--------------------------------------------*/
/*-----------------FOOTER----------------------------------------------------*/
.footer-extention{
	position: relative;
	overflow: hidden;
	background-image: linear-gradient( to top ,grey,rgba(0,0,0,0.8),rgba(0,0,0,0.9)), url(../images/show1.png);
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	color: white;

}
.footer-extention h4{
	color: #faac01;
}
.footer-extention:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	bottom: 100%;
	left: -50%;
	transform-origin: right;
	transform: skewY(-3deg);
	box-shadow: 0 0 100px black;
}
.footer-extention:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	bottom: 100%;
	right: -50%;
	transform-origin: left;
	transform: skewY(3deg);
	box-shadow: 0 0 100px black;
}
.main-footer{
	color: #f2f2f2;
	background-image: linear-gradient(to top, black, rgba(0,0,0,0.9), rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0.6),grey);
	box-shadow: 0 0 10px black;
}

.footer-extention h6 a{
	color: white;
	transition: .5s; 
}
.footer-extention h6 a:hover{
	color: rgba(255,215,0,0.8);
	text-decoration: none;
	transition: .5s; 
}
.footer-soc-icon{
	font-size: 50px;
	color: rgba(255,215,0,0.6);
	transition: .5s; 
}
.footer-soc-icon:hover{
	color: rgba(255,215,0,0.8);
	transition: .5s; 
}
.google-map{
	box-shadow: 0 0 10px rgba(255,215,0,0.8);
}

/*-----------------END OF FOOTER----------------------------------------------------*/

/*SERVICE*/
.left-pic img, .right-pic img{
	height: 300px;
	width: 400px;
	position: relative;
}
.left-pic img{
	border-top: 15px solid #F2f2f2;
	border-right: 15px solid #F2f2f2;
	border-bottom: 15px solid #F2f2f2;
	z-index: 1;
	top: 10%
}
.right-pic img{
	border-top: 15px solid #F2f2f2;
	border-left: 15px solid #F2f2f2;
	border-bottom: 15px solid #F2f2f2;
	z-index: 1;
	right: 25%;
	top: 10%
}
.middle-pic{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url(../images/bg4.jpg);
	/*border: 5px solid #F2f2f2;*/
	height: 400px;
	width: 100%;
	position: relative;
	top: 0;
	color: #f2f2f2;
	margin-bottom: 50px;
}
.middle-pic h1{
	margin-top: 70px;
}
.service-container{
	height: auto;
}

.indiv-service:nth-child(odd){
	background-color: lightgrey;
}
.indiv-service:nth-child(odd) .indiv-service-pic-1 img{
	height: 500px;
	width: 400px;
	box-shadow: -3px 3px 10px black;
	margin-top: 10%;
}
.indiv-service:nth-child(odd) .indiv-service-pic-2 img{
	height: 200px;
	width: 100%;
	box-shadow: 0 0 10px black;
}
.indiv-service:nth-child(odd) .indiv-service-pic-2 div{
	border:15px solid lightgrey;
	position: relative;
	top: -50%;
	left: 30%;
	z-index: 1;
}
.indiv-service:nth-child(odd) .indiv-service-content h3, 
.indiv-service:nth-child(odd) .indiv-service-content p{
	position: relative;
	top: 40%;
	text-align: left;
}
.indiv-service:nth-child(odd) .indiv-service-content{
	border:15px solid #f2f2f2;
}

.indiv-service:nth-child(even) .indiv-service-pic-1 img{
	height: 500px;
	width: 400px;
	box-shadow: 3px 3px 10px black;
	margin-top: 10%;
}
.indiv-service:nth-child(even) .indiv-service-pic-2 img{
	height: 200px;
	width: 100%;
	box-shadow: 0 0 10px black;
}
.indiv-service:nth-child(even) .indiv-service-pic-2 div{
	border:15px solid #f2f2f2;
	text-align: right;
	position: relative;
	top: -50%;
	left: 70%;
	z-index: 1;
}
.indiv-service:nth-child(even) .indiv-service-content h3, 
.indiv-service:nth-child(even) .indiv-service-content p{
	position: relative;
	top: 40%;
	text-align: right;
}
.indiv-service:nth-child(even) .indiv-service-content{
	border:15px solid lightgrey;
}
/*END SERVICE*/
/*ABOUT US PAGE*/
.aboutus-nav span a{
	text-decoration: none;
	color: #f2f2f2;
	transition: .5s;
	font-weight: bold;
}

.aboutus-nav span{
	margin-right: 15px;

}
.aboutus-nav span a:hover{
	color: rgba(255,215,0, 0.8);
	transition: .5s;
}
.main-timeline{
	overflow: hidden;
	position: relative;
}
.main-timeline:before{
	content: "";
	width: 10px;
	height: 90%;
	border: 3px solid  #959595;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.main-timeline .timeline{
	width: 50%;
	padding: 10px 60px 10px 100px;
	float: right;
	position: relative;
}
.main-timeline .timeline:before{
	content: "";
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #c47c48;
	border:5px solid white;
	box-shadow: 0 0 1px 5px  #c47c48;
	position: absolute;
	top: 11%;
	left: -20px;
}
.main-timeline .timeline-content{
	display: block;
	background-color: #e9e9e7;
	padding: 70px 30px 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
	position: relative;
}
.main-timeline .timeline-content:hover{
	text-decoration: none;
}
.main-timeline .timeline-year{
	display: block;
	width: 80%;
	height: 50px;
	background-color: #c47c48;
	padding: 0 0 0 50px;
	font-style: 30px;
	font-weight: 800;
	color: #F2f2f2;
	line-height: 50px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4) inset;
	border-radius: 10px 10px 10px 0;
	position: absolute;
	top: 20px;
	left: -20px;
}
.main-timeline .timeline-year:before{
	content: "";
	border-top: 40px solid #c47c48;
	border-left: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	bottom: -60px;
	left: 0;
}
.main-timeline .timeline-title{
	font-size: 18px;
	margin-top: 10px;
	font-weight: 600;
	text-transform: uppercase;
	color: #4a4a4a;
}
.main-timeline .timeline-description{
	font-size: 14px;
	color: #6f6f6f;
	margin: 0 0 5px 0;
}
.main-timeline .timeline:nth-child(2n){
	padding: 10px 100px 10px 60px;
	text-align: right;
}
.main-timeline .timeline:nth-child(2n):before{
	left: auto;
	right: -20px;
}
.main-timeline .timeline:nth-child(2n) .timeline-year{
	padding-right:50px;
	border-radius: 10px 10px 0 10px;
	left: auto;
	right: -20px;
}
.main-timeline .timeline:nth-child(2n) .timeline-year:before{
	border-left: none;
	border-right: 20px solid transparent;
	left: auto;
	right: 0;
}
.main-timeline .timeline:nth-child(2){
	margin-top: 140px;
}
.main-timeline .timeline:nth-child(odd){
	margin: -140px 0 0 0;
}
.main-timeline .timeline:nth-child(even){
	margin-bottom: 60px;
}
.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even){
	margin:0;
}

.main-timeline .timeline:nth-child(2n):before{
	background-color: #bf3fc8;
	box-shadow: 0 0 1px 5px #bf3fc8;
}
.main-timeline .timeline:nth-child(2n) .timeline-year{
	background-color: #bf3fc8;
}
.main-timeline .timeline:nth-child(2n) .timeline-year:before{
	border-top-color: #bf3fc8;
}

.main-timeline .timeline:nth-child(3n):before{
	background-color: #ce3c41;
	box-shadow: 0 0 1px 5px #ce3c41;
}
.main-timeline .timeline:nth-child(3n) .timeline-year{
	background-color: #ce3c41;
}
.main-timeline .timeline:nth-child(3n) .timeline-year:before{
	border-top-color: #ce3c41;
}

.main-timeline .timeline:nth-child(4n):before{
	background-color: #8cc43d;
	box-shadow: 0 0 1px 5px #8cc43d;
}
.main-timeline .timeline:nth-child(4n) .timeline-year{
	background-color: #8cc43d;
}
.main-timeline .timeline:nth-child(4n) .timeline-year:before{
	border-top-color: #8cc43d;
}

.main-timeline .timeline:nth-child(5n):before{
	background-color: gold;
	box-shadow: 0 0 1px 5px gold;
}
.main-timeline .timeline:nth-child(5n) .timeline-year{
	background-color: gold;
}
.main-timeline .timeline:nth-child(5n) .timeline-year:before{
	border-top-color: gold;
}

.aboutus2{
	height: 600px;
}
.aboutus2-border{
	height: 500px;
	width: 100%;
	border:15px solid rgba(0,0,0,0.9);
}
.aboutus2-img{
	position: relative;
	top: -45%;
	left: -8%;
	border:15px solid #f2f2f2;	
}
.aboutus2-img img{
	height: 480px;
	width: 100%;
	box-shadow: 0 0 10px black;
}
.aboutus2-content{
	margin-top: 50px;
}
.aboutus2-content h5{
	color: grey;
}
.aboutus2-content h3,
.title-aboutus2-h3 h3{
	color: rgba(0,0,0,0.7);
	font-weight: 600;
	text-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.aboutus2-content h3 span{
	color: rgba(0,0,0,0.9);
}
.aboutus2-content p{
	margin-left: 10px;
}
.title-aboutus2-h3{
	background-image: url(../images/bgtitle.png);
	background-size: cover;
	background-position: center;
}
.aboutus2-motto{
	position: relative;
	top: 0;
}
.aboutus2-motto p{
	font-size: 1.9rem;
}
.recent-post-img img{
	width: 100%;
	height: 100%;
}
#recent-post-indiv:nth-child(odd){
	background-color: lightgrey;

}
#recent-post-indiv{
	transition: .5s;
}
#recent-post-indiv:hover{
	background-color: rgba(0,0,0,0.6);
	transition: .5s;
}
#side-footer{
	background-color: lightgrey;
}
#side-footer small a{
	color: grey;
	text-decoration: none;
}
#side-footer p{
	color: rgba(0,0,0,0.7);
	margin-bottom: 0;
}

/*END OF ABOUT US PAGE*/
/*OUR TEAM*/
.member-pic img{
	height: 200px;
	width: 100%;
}
.indiv-main-member{
	/*margin-top: 120px;*/
}
.indiv-member img{
	height: 200px;
	width:100%;
	transform: scale(1.6);
	filter: grayscale(100%);
	transition: .5s;
}
.indiv-member-img{
	height: 200px;
	/*margin-bottom: 20px;*/
	overflow: hidden;
	transition: .5s;
}
.indiv-member-img img:hover,
.indiv-member .active img{
	filter: grayscale(0%);
	transform: scale(1.2);
	transition: .5s;
}
.indiv-member .active,
.indiv-member-img:hover{
	border: 2px solid gold;
	filter: grayscale(0%);
	transition: .5s;
}
.indiv-testimonies-main-pic img,
.indiv-member-main-pic img{
	box-shadow: 0 0 10px black;
}

.joinpage{
	height: 100vh;
	overflow: hidden;
}
.join-container{
	background-image: url(../images/show4.png);
	background-size: cover;
	background-position: bottom;
	height: 100vh;
}
.join-form-container,
.become-form-container{
	margin-top: 5%;
	background-color: rgba(0,0,0,0.5);
	padding: 1rem;
}
/*END OF OUR TEAM*/
/*TESTIMONIES*/
.become-container{
	background-image: url(../images/show3.png);
	background-size: cover;
	background-position: bottom;
	height: 100vh;
}
.indiv-testimonial img{
	height: 200px;
	width:100%;
	transform: scale(1.6);
	filter: grayscale(100%);
	transition: .5s;
}
.indiv-testimonial-img{
	height: 200px;
	overflow: hidden;
	transition: .5s;
}
.indiv-testimonial-img img:hover,
.indiv-testimonial .active img{
	filter: grayscale(0%);
	transform: scale(1.2);
	transition: .5s;
}
.indiv-testimonial .active,
.indiv-testimonial-img:hover{
	border: 2px solid gold;
	filter: grayscale(0%);
	transition: .5s;
}
.indiv-testimonies-gall-pic img{
	transform: scale(1.6);
	filter: grayscale(100%);
	transition: .5s;
}
.indiv-testimonies-gall-pic{
	height: 100px;
	margin-bottom: 20px;
	overflow: hidden;
	transition: .5s;
}
.indiv-testimonies-gall-pic img:hover,
.indiv-testimonies-gall .active img{
	filter: grayscale(0%);
	transform: scale(1.2);
	transition: .5s;
}
.indiv-testimonies-gall .active,
.indiv-testimonies-gall-pic:hover{
	border: 2px solid gold;
	filter: grayscale(0%);
	transition: .5s;
}
/*END OF TESTIMONIES*/

/*Mobile Styles (width < 400px)*/
@media only screen and (max-width: 400px) {
	.sidebar{
		width: 100%;
		transform:skewX(0deg);
		padding-right: 0px; 
		padding-left: 0px; 
	}
	.sidebar.active{
		right: 0%;
	}
	.sidebar ul{
		transform: skewX(0deg);
		padding: 0;
	}

}


/*Tablet Styles (401 < width < 960)*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.sidebar{
		width: 60%;
		transform:skewX(0deg);
		padding-right: 0px; 
		padding-left: 0px; 
	}
	.sidebar.active{
		right: 0%;
	}
	.sidebar ul{
		transform: skewX(0deg);
		padding: 0;
	}
}


/*Desktop Styles (width > 961)*/
@media only screen and (min-width: 961px){

}